html{
    font-family: sans-serif;
    background: rgb(255, 242, 169);
    padding: 1rem;
}
body{
    max-width: 960px;
    margin: 0 auto;
    background: white;
}
h1{
    font-family: serif;
    color: #b69823;
    margin: 1rem 0;
    text-align: center;
}
hr{
    border: none;
    border-top: 1px solid rgb(255, 243, 134);
}
.content{
   padding: 0 1rem 1rem;
   color: rgb(255, 247, 163);
}